

<!--PRELOADER-->

<!--/ABOUT-->

<!--HOME-->
<section id="sec_1" class="autoheight">

  <!--LANDING VIDEO-->
  <video id="video"  autoplay="autoplay" loop >
    <source src="../../assets/assets_front/video.mp4" type="video/mp4">

  </video>
  <!--/LANDING VIDEO-->

  <div class="home-bg"></div>
  <div class="col-lg-12 landing-text-pos align-center">
    <h1 class="wow animated fadeInDown" data-wow-duration="1s" data-wow-delay="1s">Bienvenue sur notre event plateforme </h1>
    <hr id="title_hr"/>
    <p class="wow animated fadeInUp" data-wow-duration="1s" data-wow-delay="1s">EVENTIA By Foudhaili Firas </p>
    <a class="learn-more-btn btn-effect wow animated fadeIn" data-wow-duration="0.5s" href="/register"  routerLink="register" data-wow-delay="1.5s" >S'inscrire maintenant</a>
  </div>
</section>
<!--/HOME-->

<!--ABOUT-->
<section class="intro text-center section-padding" id="intro">
  <div class="container wow animated fadeInLeft animated" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="row">
      <div class="col-lg-8 align-center about">
        <h1 class="arrow">A PROPOS DU EVENTIA</h1>
        <hr>
        <p>Nous avons le plaisir de vous accueillir chez EVENTIA un groupe de personnes qui a développé une plateforme pour les evenements, vous pouvez participer à nos événements en ligne et acheter des billets et télécharger vos propres Stories... </p>
      </div>
    </div>
  </div>
</section>

<div id="sponsers" class="ignite-cta text-center section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-8 align-center wow animated fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">
        <h1 class="arrow">Nos Sponsors</h1><hr>
        <p>voici nos sponsors </p>
      </div>
      <!-- Jssor Slider Begin -->
      <div id="slider1_container" style=" ">
        <div class="inner_carousal" data-u="slides" style="">
          <div><img alt="sp1" src="../../assets/assets_front/img/sponsor/sp1.jpeg" /></div>
          <div><img alt="sp2" src="../../assets/assets_front/img/sponsor/sp2.png" /></div>
          <div><img alt="sp3" src="../../assets/assets_front/img/sponsor/sp3.jpeg" /></div>
          <div><img alt="sp4" src="../../assets/assets_front/img/sponsor/sp4.png" /></div>
          <div><img alt="sp5" src="../../assets/assets_front/img/sponsor/sp5.png" width="160" /></div>
          <div><img alt="sp6" src="../../assets/assets_front/img/sponsor/sp6.jpg" width="160" length="100" /></div>
          <div><img alt="sp7" src="../../assets/assets_front/img/sponsor/sp7.png" /></div>
        </div>
      </div>
      <!-- Jssor Slider End -->
    </div>
  </div>
</div>
